$main-text-font: Eurostile;
$second-text-font: EuropaNuova-Regular;

$circle-size: 80px;

$color:(
    "bg" : #0A0A0A,
    "main-text" : #5546C5,
    "main-hover-text" : #695dc9,
    "second-text" : #6c757d, 
    "i-social-media" : #251D60,
    "hover-button-text" : #fff,
    "opacity-text" : rgba(85, 70, 197, 0.153),
)